

.auth-container {
  margin: auto 0;
  display : flex;
  align-items: center;
  justify-content: center;
  background: #191414;
  color: white;
  height: 100vh;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

.auth-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 580px;
}

.auth-form * {
  padding: 10px;
  text-align: center;
}

.auth-form h1 {
  font-size: 40px;
}

.auth-form h2 {
  font-size: larger;
}

.auth-form button {
  width: 210px;
  border-radius: 15px;
  height: 45px; 
}

.auth-form input{
  border: 2px solid whitesmoke;
  border-radius: 15px;
}
.auth-form input:focus {
  box-shadow: 0 0 3pt 2pt #1DB954;
  
}

.extra-spacing {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}

.extra-spacing > div {
  padding: 0;
}

.extra-spacing > div > a {
  padding: 0;
}

.extra-spacing > div > a > button {
  margin: 0;
  margin-right: 4px;
}

.extra-spacing > div > button {
  margin: 0;
  margin-left: 4px;
}

.login-type{
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-type a:link {
  color: white;
  text-decoration: underline;
}

.logo-wrapper {
  margin-top: 32px;
}