.cta-button, .main-nav button {
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    background: #1DB954;
    justify-content: center;
    text-align: center;
    color: white;
    border: .5px solid #1aa34a;
    width: 125px;
    height: 35px;
}

.main button:hover {
  background-color: #137736;
  transition: 0.5s;
  border: .5px solid #1aa34a;
}

.main-nav button:hover {
  background-color: #137736;
  transition: 0.5s;
  border: .5px solid #1aa34a;
}

.cta-inverse {
    background: white;
    color: #1DB954;
    margin: 0px 15px;
    border: 1px solid #1aa34a;
}

.add-channel-button{
  width: 30px;
  height: 30px;
  color: rgb(179, 179, 179);
  border-radius: 15%;
  background-color: transparent;
  border-color: transparent;
  text-shadow: 1px 1px rgba(2,15,7,0.25);
}

.add-channel-button:hover {
  background-color: rgba(179, 179, 179, .5);
  color: #ffffff;
}

.add-channel-button a {
  color: rgb(179, 179, 179);
}

.new-message-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(179, 179, 179);
  position: relative;
}

.new-message-button > svg {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 17.5%;
  top: 19%;
}

.conversation-button {
  background-color: transparent;
  width: 100%;
  border: transparent;
  text-align: left;
  color: rgb(179, 179, 179);
  font-size: 16px;
  padding: 3px 0;
  /* text-shadow: 0px 2px rgba(2,15,7,0.1), 2px 0px rgba(2,15,7,0.1), -2px 0px rgba(2,15,7,0.1), 0px -2px rgba(2,15,7,0.1); */

}

.conversation-button:hover {
  color: #ffffff;
}

.send-button {
  height: 40px;
  width: 60px;
  background-color: transparent;
  border: transparent;
  border-left: 1px solid black;
}

.toggle-sidebar-button {
  background: transparent;
  height: 30px;
  width: 30px;
  box-shadow: none;
  border: none;
  background-color: rgb(179, 179, 179);
  border-radius: 50%;
  position: relative;
}

.toggle-sidebar-button svg {
  width: 25px;
  height: 25px;
  transform: translate(-13.5%, 7.5%); 
}

.members-section button {
  border: 1px solid rgb(179, 179, 179);
  background-color: transparent;
  border-radius: 7px;
  color: rgb(179, 179, 179);
  height: 32px;
}

.members-section button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.about-section button {
  border-radius: 15%;
  height: 30px;
  width: 30px;
  background-color: transparent;
  box-shadow: transparent;
  border: transparent;
}

.modal-component-container button, .channels-list button {
  width: 83px;
  height: 38px;
  border-radius: 7px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  line-height: 20px;
}

#create-new-channel-button, .channel-list-item button {
  /* background-color: rgba(179, 179, 179, 1); */
  width: 132px;
  border:1px solid rgba(179, 179, 179, .5);
}

.channels-list button:hover {
  background-color: rgb(179, 179, 179);
  color: #ffffff;
}

.modal-component-container button:hover {
  background-color: #1DB954;
  color: #ffffff;
}

.channels-list button:hover {
  color: #ffffff;
  color: rgb(18,18,18); 
}

.message-options > li > i {
  background-color: transparent;
  border: none;
  color: rgb(179, 179, 179);
}

.edit-message-container button {
  height: 36px;
  text-align: center;
  padding: 8px;
  margin-right: 8px;
  border-radius: 7px;
}

.edit-message-container button:first-child {
  background-color: transparent;
  border: 1px solid rgb(179, 179, 179);
  color: #ffffff;
}

.edit-message-container button:first-child:hover {
  background-color: rgb(179, 179, 179);
}

.edit-message-container button:last-child {
  border: none;
  background-color: #1DB954;

}

.edit-message-container button:last-child:hover {
  background-color: #1aa34a;
  color: white;
}

.inner-search button {
  background-color: transparent;
  border: 1px solid rgba(179, 179, 179, .5);
  color: rgb(179, 179, 179);
  border-radius: 7px;
  align-self: flex-end;
  height: 24px;
}

.inner-search button:hover {
  background-color: rgb(179, 179, 179);
  color: #ffffff;
}
