.cta-button, .main-nav button {
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    background: #1DB954;
    justify-content: center;
    text-align: center;
    color: white;
    border: .5px solid #1aa34a;
    width: 125px;
    height: 35px;
}

button:hover {
  background-color: #137736;
  transition: 0.5s;
  border: .5px solid #1aa34a;
}

.cta-inverse {
    background: white;
    color: #1DB954;
    margin: 0px 15px;
    border: 1px solid #1aa34a;
}

.add-channel-button {
  width: 25px;
  height: 25px;
  background-color: #191414;
  color: white;
  border-radius: 50%; 
}