.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.modal-component-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.modal-body {
  width: 600px;
  height: 600px;
  border: 1px solid rgb(40,40,40, .25);
  border-radius: 2%;
  background: rgb(179,179,179);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 15px;
  color: rgb(40,40,40)
}

.modal-body > div {
  width: 100%;
}

.modal-user-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.modal-user-search input {
  width: 100%;
}

.user-list-item {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  border-top: 1px solid black;
}

.user-list-item img {
  height: 60px;
}

.modal-user-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}

.select-members-dropdown {
  display: block;
  position: absolute;
  border: black;
  background-color: #ffffff;
  color: rgb(40,40,40);
  width: 459px;
  top: 36px;
  left: 0;
}

.select-members-dropdown li {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.select-members-dropdown li:hover {
  background-color: rgba(29,185,84, 1);
  color: rgb(40,40,40);
} 

.select-members-dropdown span {
  width: auto;
  font-size: 12px;
  padding-left: 8px;
  color: rgb(40,40,40, .5);
}

.select-members-dropdown li:hover span {
  color: #ffffff;
}

.select-members-dropdown span:first-child {
  font-size: 16px;
  color: rgb(40,40,40);
}

.add-users-modal {
  width: 520px;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgb(40,40,40, .5);
  background: rgb(179,179,179);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 15px;
  color: rgb(40,40,40)
}

.modal-component-container h5 {
  font-size: 13px;
  font-weight: 500;
}

.add-users-modal h1 {
  font-size: 18px;
  font-weight: 800;
}

.add-users-modal > div {
  padding: 10px 15px;
}

.modal-button-container {
  display: flex;
  justify-content: flex-end;
}

.modal-input-container input[type="text"] {
  height: 38px;
  min-width: 459px;
  width: 99%;
  border: 1px solid black;
  border-radius: 4px;
}

.create-channel-modal {
  width: 520px;
  height: 500px;
  border: 1px solid rgb(40,40,40, .25);
  border-radius: 2%;
  background: rgb(179,179,179);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 28px 28px 12px;
  color: rgb(40,40,40)
}

.modal-component-container h2 {
  font-size: 28px;
  text-align: left;
  padding-bottom: 8px;
  font-weight: 900;
}

.modal-body ul {
  width: auto;
  padding: 8px 0px;
}
.modal-body h3 {
 padding-bottom: 8px;
}

.create-channel-modal div, ul, li {
  padding: 8px 0px;
}

.create-channel-modal ul {
  padding-top: 12px;
}
.create-channel-modal li:nth-child(2) {
  padding-bottom: 12px;
}

.modal-input-container input:focus {
  box-shadow: 0px 0px 6px 1px rgba(29,185,84, .3);
}

.modal-input-container {
  padding-bottom: 10px;
}

.modal-user-select-input {
  padding: 10px 0px;
  width: 440px;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid black
}

/* .modal-user-select-input span {
  display: inline;
} */

.modal-user-select-input input[type="text"] {
  background: transparent;
  border: transparent;
  width: auto;
}

.modal-input-container h5 {
  padding-top: 8px;
}

.user-list-checkbox {
  display: none;
}

.selected-user-box {
  display: inline-block;
  border: 1px solid rgb(40,40,40);
  background-color: rgba(29,185,84, .5);
  color: #ffffff;
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
}

.selected-user-box > span > span {
  width: 12px;
  text-align: center;
}

#add-users-input {
  position: relative;
}

.private-channel-option {
  display: flex;
  justify-content: space-between;
}

.private-channel-option input[type="checkbox"] {
  width: 24px;
  height: 24px;
}
