.main-nav {
    display: flex;
    position: fixed;
    z-index: 1000;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    top: 0;
    border-bottom: 1px solid lightgray ;
    background: #191414;
}

.main-nav a:visited, a:link {
  color: white;
  text-decoration: none;
}

.main {
  margin-top: 60px;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  font-weight: 700;
  font-family: 'Prompt', sans-serif;
  font-size: 12px;

}

.logo-container {
  display: flex;
  align-items: center;
  width: 150px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: whitesmoke;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  padding: 12px;
}

.cta-button, .main-nav button {
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    background: #1DB954;
    justify-content: center;
    text-align: center;
    color: white;
    border: .5px solid #1aa34a;
    width: 110px;
}

button:hover {
  background-color: #137736;
  transition: 0.5s;
  border: .5px solid #1aa34a
}
