.main-nav {
    display: flex;
    position: fixed;
    z-index: 1000;
    height: 90px;
    width: 100%;
    justify-content: space-around;
    top: 0;
    border-bottom: 1px solid lightgray ;
    background: #191414;
}

.main-nav a:visited, a:link {
  color: white;
  text-decoration: none;
}

.main {
  margin-top: 120px;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  font-weight: 700;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;

}

.logo-container {
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: whitesmoke;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  padding: 12px;
}

