.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Noto Sans JP', sans-serif;
}

.description-container h1 {
  font-weight: 700;
  font-size: x-large;
}

.small-caps {
  text-transform: uppercase;
  font-size: 10;
}

.description-container > div {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}


.description-container:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-med {
  display: block;
  margin: 40px 10px;
  line-height: 1.3
}

.container-med div {
  padding: 12px; 
}

.img-hero {
  width: 100%;
}

.container-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.container-large div {
  margin: 0 auto;
  padding: 12px;
}

.container-large iframe {
  box-shadow: 0px 0px 8px;
}

.container-large, .container-med span {
  font-size: 12px;
  font-weight: 800;
  color: #191414;
}


section {
  margin-bottom: 0px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding-bottom: 50px;
}

.cta-section {
  background-color: #191414;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-section h1 {
  color: white;
  width: 500px;

}
